/* TODO: Remove/reuse properties.  Move different page styles to seperate file. */

h1 {
  width: 100%;
  background-color: #ff5252;
  text-align: center;
  padding: 5px;
  color: #fff;
  margin-bottom: 0 !important;
}

h4 {
  color: #ff5252;
}

p {
  font-size: 1.25em;
  color: #fff;
}

a {
  text-shadow: 0 0 5px #ff5252;
  font-size: 1.15em !important;
  font-weight: bolder;
  color: #8383fd !important;
}

.blank-row {
  padding-top: 100px !important;
}

.row-gap {
  margin-top: 70px;
}

.btn-container {
  position: fixed;
  padding: 10px;
  z-index: 1;
}
.btn-circle {
  padding: 0;
  border-radius: 50% !important;
  background-color: #f8f9fa !important;
}
.btn-circle-xl {
  width: 65px;
  height: 65px;
}
.btn-clicked {
  width: 75px;
  height: 75px;
  border-radius: 50% !important;
  background-color: #ff5252;
}

.horizontal-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.external-site {
  margin: 15px !important;
}

/* START --- About Me page style */
.about-me-content {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* END --- About Me page style */

/* START --- Experience page styles */
.img-company {
  width: 150px;
  height: 150px;
  border-radius: 50% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-company-col {
  max-width: 180px !important;
}

.job-title-col {
  text-align: right !important;
}

.job-description-col {
  min-width: 360px !important;
}

.job-technologies {
  font-size: 0.85em;
  text-align: center;
  width: 100%;
  background-color: #ff5252;
  padding: 2px;
  border-radius: 5px !important;
  color: #fff;
}
/* END --- Experience page styles */

/* START --- Projects page style */
.project-img {
  display: "block";
  width: 100%;
  height: auto;
  border-width: 2px;
  border-color: #ff5252;
  border-style: solid;
  border-radius: 5px;
}
/* END --- Projects page style */
